Repository opynfinance/GammaProtocol, pull requests merged in 2020-09, with the labels that each got.

#38 Integration test - open markets
  contracts/Otoken.sol
  contracts/OtokenFactory.sol
  contracts/interfaces/OtokenInterface.sol
  contracts/mocks/MockController.sol
  contracts/mocks/MockOtoken.sol
  test/MarginAccount.test.ts
  test/Otoken.test.ts
  test/OtokenFactory.test.ts
  test/controller.test.ts
  test/integration-tests/open-markets.test.ts
  test/marginCalculator.test.ts
  test/marginPool.test.ts
  test/oracle.test.ts
Labels: bug, test

#115 Add decimals in mock token
  contracts/mocks/MockERC20.sol
  test/MarginAccount.test.ts
  test/Otoken.test.ts
  test/OtokenFactory.test.ts
  test/Whitelist.test.ts
  test/addressBook.test.ts
  test/chainlinkPricer.test.ts
  test/controller.test.ts
  test/integration-tests/open-markets.test.ts
  test/marginCalculator.test.ts
  test/marginPool.test.ts
  test/oracle.test.ts
Labels: contract

#110 Compound pricer
  contracts/interfaces/CTokenInterface.sol
  contracts/mocks/MockCToken.sol
  contracts/pricers/ChainlinkPricer.sol
  contracts/pricers/CompoundPricer.sol
  contracts/pricers/USDCPricer.sol
  test/chainlinkPricer.test.ts
  test/compoundPricer.test.ts
  test/usdcPricer.test.ts
Labels: contract

#121 Add test for 100% coverage
  test/marginCalculator.test.ts
Labels: test

#114 Task/Consider collateral price in calculator
  contracts/MarginCalculator.sol
  contracts/interfaces/OracleInterface.sol
  contracts/mocks/MockOracle.sol
  test/MarginAccount.test.ts
  test/marginCalculator.test.ts
Labels: contract

#128 Exercise functionality
  contracts/Controller.sol
  contracts/MarginCalculator.sol
  contracts/libs/Actions.sol
  contracts/mocks/MockMarginCalculator.sol
  test/Actions.test.ts
  test/controller.test.ts
Labels: contract

#133 MarginPool farming
  .circleci/config.yml
  contracts/MarginPool.sol
  package.json
  test/marginPool.test.ts
Labels: contract

#131 Settle vault
  contracts/Controller.sol
  test/controller.test.ts
Labels: contract

#116 Task/ Calculator scaling
  .circleci/config.yml
  .solcover.js
  contracts/MarginCalculator.sol
  test/marginCalculator.test.ts
  test/utils.ts
Labels: contract

#150 Update MarginAccount
  contracts/Controller.sol
  contracts/libs/MarginAccount.sol
  contracts/tests/MarginAccountTester.sol
  test/MarginAccount.test.ts
Labels: contract

#147 Improve isPriceFinalized
  contracts/Controller.sol
  test/controller.test.ts
Labels: contract

#152 MarginPool: Add require check for ERC20 operations
  contracts/MarginPool.sol
  contracts/mocks/MockDumbERC20.sol
  test/marginPool.test.ts
Labels: contract

#151 Chainlink Pricer: Fix price not scaled for expiryPrice
  contracts/pricers/ChainlinkPricer.sol
  test/chainlinkPricer.test.ts
  test/controller.test.ts
Labels: bug, contract

#157 Adopt SafeERC20
  contracts/MarginPool.sol
  contracts/packages/oz/SafeERC20.sol
  test/marginPool.test.ts
Labels: contract

#158 Update CircleCi config
  .circleci/config.yml
Labels: cicd

#136 Emergency shutdown implementation
  .circleci/config.yml
  contracts/Controller.sol
  contracts/MarginCalculator.sol
  package.json
  test/controller.test.ts
Labels: contract

#153 Update product hash to include isPut
  contracts/OtokenFactory.sol
  contracts/Whitelist.sol
  contracts/interfaces/WhitelistInterface.sol
  contracts/mocks/MockWhitelistModule.sol
  test/OtokenFactory.test.ts
  test/Whitelist.test.ts
  test/integration-tests/open-markets.test.ts
Labels: contract

#148 Call action implementation
  contracts/Controller.sol
  contracts/Whitelist.sol
  contracts/external/wrapper/FlashWrap.sol
  contracts/interfaces/CalleeInterface.sol
  contracts/interfaces/WhitelistInterface.sol
  contracts/libs/Actions.sol
  contracts/libs/MarginAccount.sol
  contracts/mocks/MockWhitelistModule.sol
  contracts/tests/CallTester.sol
  test/Whitelist.test.ts
  test/controller.test.ts
  test/flashWrap.test.ts
Labels: contract

#145 Fix Payout calculation
  contracts/Controller.sol
  contracts/MarginCalculator.sol
  contracts/interfaces/MarginCalculatorInterface.sol
  contracts/mocks/MockOracle.sol
  contracts/tests/CalculatorTester.sol
  package.json
  test/controller.test.ts
  test/marginCalculator.test.ts
  test/unit-tests/Actions.test.ts
  test/unit-tests/Otoken.test.ts
  test/unit-tests/OtokenFactory.test.ts
  test/unit-tests/Whitelist.test.ts
  test/unit-tests/addressBook.test.ts
  test/unit-tests/fixedPointInt256.test.ts
  test/unit-tests/marginPool.test.ts
  test/unit-tests/oracle.test.ts
  test/unit-tests/weth9.test.ts
Labels: bug, contract
